<header>
    <div class="header estatic-zoom">
        <a href="/" class="logo">Admin H-Natsu</a>

        <div class="header-center">
            <div class="flex-center info">
                <span class="active">Quantidade de games:</span> <span id="quantGame">{{quantGame}}</span>
                <span class="active">Quantidade de usuários:</span> <span>{{quantUser}}</span>
            </div>
        </div>


        <div class="header-right">
            <a class="logout" href="/logout">SAIR</a>
        </div>

    </div>
</header>