<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="copyright" content="© 2021 H-Natsu" />
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <meta name="robots" content="noindex, nofollow">
    <meta name="googlebot" content="noarchive">

    <!-- FONTE AWESOME -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.css">
    <!-- FONTE ROBOTO -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <!-- PUBLIC CSS -->
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/9ff7a862-ddb5-4815-9a3f-184cb6d36566.css">


    <title>H-NATSU</title>
</head>

<body>

    {{>message}}
    {{{body}}}



    <!-- PUBLIC JS -->
    <script src="/js/9c514d30-eb4e-4496-b9e5-3eaef5b9055c.js"></script>
    <script src="/js/script.js"></script>
    <script src="/js/app.js"></script>
</body>

</html>